@model Lanche

<style>
    .btn-primary {
        background-color: darkred;
        color: #FFFFFF;
        /* Other style properties if needed */
    }
</style>

<div class="col-sm-4 col-md-4 col-lg-4">
    <a asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" asp-route-LancheId="@Model.lancheID">
        <img src="@Model.ImageUrl" class="img-fluid" style="height: 230px;">
    </a>
    <h3>Preço : @Model.Preco.ToString("c")</h3>

    <h4>
        <a asp-controller="Lanche" asp-action="Details" asp-route-lancheId="@Model.lancheID">@Model.Nome</a>
    </h4>

    <p>@Model.DescricaoCurta</p>
</div>
